<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TipoVehiculoControlador</servlet-name>
        <servlet-class>controlador.TipoVehiculoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculoControlador</servlet-name>
        <servlet-class>controlador.VehiculoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoConductorControlador</servlet-name>
        <servlet-class>controlador.TipoConductorControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TipoVehiculoControlador</servlet-name>
        <url-pattern>/TipoVehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculoControlador</servlet-name>
        <url-pattern>/Vehiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoConductorControlador</servlet-name>
        <url-pattern>/TipoConductor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
