<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>controladorLogin</servlet-name>
        <servlet-class>Servlet.controladorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorEstudiantes</servlet-name>
        <servlet-class>Servlet.controladorEstudiantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorProfesores</servlet-name>
        <servlet-class>Servlet.controladorProfesores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controladorLogin</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorEstudiantes</servlet-name>
        <url-pattern>/Estudiantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorProfesores</servlet-name>
        <url-pattern>/Profesores</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
